.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;

  > .text-input,
  select,
  .DateRangePicker,
  .DateRangePickerInput {
    width: 100%;
  }

  @media (min-width: $desktop-breakpoint) {
    > .text-input,
    .DateRangePicker {
      width: auto;
    }
  }
}

.input-group__item:nth-of-type(2) {
  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size;
  }
}
